<div class="row mb-5 mt-2">
  <div class="col-12 col-md-3">
    <%= image_tag("tadl-logo.jpg", class: "w-100") %>
  </div>
  <div class="col-12 col-md-9">
    <%= render 'search_box_mini' %>
  </div>
</div>
<% Settings.lists.each do |lists| %>
  <!-- <h1><%= lists['group'] %></h1> -->
  <ul class="nav nav-tabs" id="<%= lists['group'] %>" role="tablist">
    <% lists['searches'].each_with_index do |search, index| %>
      <li class="nav-item">
        <a class="nav-link <%= if index == 0 then 'active' end %>" id="<%= search.name %>-tab" data-toggle="tab" href="#<%= search.name %>" role="tab" aria-controls="<%= search.name %>" aria-selected="<%= if index == 0 then 'true' else 'false' end %>"><%= search.display_name %></a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="<%= lists['group'] %>Content">
    <% lists['searches'].each_with_index do |search, index| %>
      <% items = Rails.cache.read(search.name) %>
      <div class="tab-pane fade<%= if index == 0 then ' show active' end %>" id="<%= search.name %>" role="tabpanel" aria-labelledby="<%= search.name %>-tab">
        <div class="container-fluid">
          <div id="carousel<%= search.name %>" class="row">
            <div class="owl-carousel owl-theme w-100 mx-auto">
              <% items.each do |item| %>
                <div class="item mt-3" data-record_id="<%= item.id %>">
                  <a href="details?id=<%= item.id %>" onclick="item_details(<%= item.id %>, 'slider')" class="item_details_link">
                    <img class="owl-lazy mx-auto" data-src="<%= Settings.cover_url_prefix_md %><%= item.id %>" data-src-retina="<%= Settings.cover_url_prefix_lg %><%= item.id %>" alt="<%= item.title %>">
                  </a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
