<div class="row mt-2">
  <div class="col-12 col-md-4 col-lg">
    <%= image_tag("tadl-logo.jpg", class: "w-100 logo_index") %>
  </div>
  <div class="col-12 col-md-8 col-lg-9">
    <%= render 'search_box_mini' %>
  </div>
</div>
<div class="d-none d-lg-block mt-5">
  <% Settings.lists.each do |lists| %>
  <!-- <h1><%= lists['group'] %></h1> -->
  <ul class="nav nav-tabs" id="<%= lists['group'] %>" role="tablist">
    <% lists['searches'].each_with_index do |search, index| %>
      <li class="nav-item">
        <a class="nav-link <%= if index == 0 then 'active' end %>" id="<%= search.name %>-tab" data-toggle="tab" href="#<%= search.name %>" role="tab" aria-controls="<%= search.name %>" aria-selected="<%= if index == 0 then 'true' else 'false' end %>"><%= search.display_name %></a>
      </li>
      <a role="button" class="btn btn-light search-button" id="search-button-<%= search.name %>"<% if index != 0 %> style="display: none;"<% end %> href="<%= search.search_link %>">View All <i class="fas fa-angle-right"></i></a>
    <% end %>
  </ul>
  <div class="tab-content" id="<%= lists['group'] %>Content">
    <% lists['searches'].each_with_index do |search, index| %>
      <% items = Rails.cache.read(search.name) %>
      <div class="tab-pane fade<%= if index == 0 then ' show active' end %>" id="<%= search.name %>" role="tabpanel" aria-labelledby="<%= search.name %>-tab">
        <div class="container-fluid">
          <div id="carousel<%= search.name %>" class="row">
            <div class="owl-carousel owl-theme w-100 mx-auto">
              <% items.each do |item| %>
                <div class="item mt-3" data-record_id="<%= item.id %>">
                  <a href="details?id=<%= item.id %>" onclick="item_details(<%= item.id %>, 'slider')" class="item_details_link">
                    <img class="owl-lazy mx-auto" data-src="<%= Settings.cover_url_prefix_md %><%= item.id %>" data-src-retina="<%= Settings.cover_url_prefix_lg %><%= item.id %>" alt="<%= item.title %>">
                  </a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>
<div class="d-block d-lg-none">
  <h2 class="mt-2 mb-3 bg-primary text-light p-2 w-100">Featured Items</h2>
  <div class="row">
    <% Settings.lists.each do |g| %>
      <% g['searches'].each do |l| %>
        
        <div class="col-6 col-sm-4 mb-3">
          <a href="<%= l['search_link'] %>">
          <%= image_tag ('/assets/boxes/' + l['name'] + '_box.jpg'), class: "img-fluid mb-0" %>
          <h5 class="bg-primary text-light p-2 mt-0"> <%= l['display_name'] %> </h5>
          </a>
        </div>
        
      <% end %>
    <% end %>
  </div>
</div>
<script>
  $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
    $(e.target).parent().next().show();
    $(e.relatedTarget).parent().next().hide();
  });
</script>
