<%= render :partial => 'application/search_box_mini' %>

<% Settings.lists.each do |lists| %>
  <!--<h1><%= lists['group'] %></h1> -->
  <ul class="nav nav-tabs" id="<%= lists['group'] %>" role="tablist">
    <% lists['searches'].each_with_index do |search, index| %>
      <li class="nav-item">
        <a class="nav-link <%= if index == 0 then 'active' end %>" id="<%= search.name %>-tab" data-toggle="tab" href="#<%= search.name %>" role="tab" aria-controls="<%= search.name %>" aria-selected="<%= if index == 0 then 'true' else 'false' end %>"><%= search.display_name %></a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="<%= lists['group'] %>Content">
    <% lists['searches'].each_with_index do |search, index| %>
      <% items = Rails.cache.read(search.name) %>
      <div class="tab-pane fade<%= if index == 0 then ' show active' end %>" id="<%= search.name %>" role="tabpanel" aria-labelledby="<%= search.name %>-tab">
        <div class="container-fluid">
          <div id="carousel<%= search.name %>" class="row">
            <div class="owl-carousel owl-theme w-100 mx-auto">
              <% items.each do |item| %>
                <div class="item" data-record_id="<%= item.id %>">
                  <a href="details?id=<%= item.id %>" onclick="item_details('<%= escape_javascript(item.to_json) %>', true)" class="item_details_link">
                    <img class="owl-lazy mx-auto" data-src="https://catalog.tadl.org/opac/extras/ac/jacket/medium/r/<%= item.id %>" data-src-retina="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= item.id %>" alt="<%= item.title %>">
                  </a>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
