<%= render :partial => 'application/search_box_mini' %>

<% Settings.lists.each do |lists| %>
  <h1><%= lists['group'] %></h1>
  <ul class="nav nav-tabs" id="<%= lists['group'] %>" role="tablist">
    <% lists['searches'].each_with_index do |search, index| %>
      <li class="nav-item">
        <a class="nav-link <%= if index == 0 then 'active' end %>" id="<%= search.name %>-tab" data-toggle="tab" href="#<%= search.name %>" role="tab" aria-controls="<%= search.name %>" aria-selected="<%= if index == 0 then 'true' else 'false' end %>"><%= search.display_name %></a>
      </li>
    <% end %>
  </ul>
  <div class="tab-content" id="<%= lists['group'] %>Content">
    <% lists['searches'].each_with_index do |search, index| %>
      <% items = Rails.cache.read(search.name) %>
      <div class="tab-pane fade<%= if index == 0 then ' show active' end %>" id="<%= search.name %>" role="tabpanel" aria-labelledby="<%= search.name %>-tab">
        <div class="container-fluid">
          <div id="carousel<%= search.name %>" class="carousel slide" data-ride="carousel" data-interval="0">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
              <% items.each_with_index do |item, index| %>
                <div class="carousel-item col-md-2<%= if index == 0 then ' active' end %>">
                  <img class="img-fluid mx-auto d-block" src="https://catalog.tadl.org/opac/extras/ac/jacket/medium/r/<%= item.id %>" alt="<%= item.title %>">
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

