<div class="container">
  <div class="row mb-3">
    <div class="col-lg-12">
      <button id="previous-<%= i.id%>" style="display:none" class="btn btn-sm btn-outline-primary float-left" onclick="previous_item()">
        <%= icon('fas', 'arrow-left') %> Previous
      </button>
      <button id="next-<%= i.id%>" style="display:none" class="btn btn-sm btn-outline-primary float-right" onclick="next_item()">
        Next <%= icon('fas', 'arrow-right') %>
      </button>
    </div>
  </div>


  <div class="row">
    <div id="item_cover_<%= i.id %>_details" class="col-md-3 order-1 mb-2">
      <div class="text-center">
        <img src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= i.id %>" class="img-fluid" onerror="missing_cover('<%= escape_javascript(i.to_json) %>')" onload="check_blank_cover(this)">
      </div>
    </div>
    <div class="col-md-6 order-md-2 order-3 mb-2">
      <h4><%= icon('fas', item_format_icon(i.type_of_resource)) %> <%= i.title_display %></h4>
      <h5><%= i.author %></h5>
      <% if !i.abstract.blank? %>
        <dl>
          <dt>Summary</dt>
          <dd>
            <% if i.abstract_array.map { |str| "#{str}"}.join().length > 275 %>
              <%= truncate(i.abstract, length: 250) %>
              <%= link_to 'Read more', '', class: "read-more-#{i.id}-abstract" %>
              <script>
                $('.read-more-<%= i.id %>-abstract').on('click', function(e) {
                  e.preventDefault();
                  $(this).parent().html('<% i.abstract_array.each do |abstract| %><p><%= escape_javascript abstract %></p><% end %>');
                });
              </script>
            <% else %>
              <% i.abstract_array.each do |abstract| %>
                <p><%= abstract %></p>
              <% end %>
            <% end %>
          </dd>
        </dl>
      <% end %>
      <% if !i.contents.blank? %>
        <dl>
          <dt>Contents</dt>
          <dd>
            <% if i.contents_array.map { |str| "#{str}"}.join().length > 275 %>
              <%= truncate(i.contents, length: 250) %>
              <%= link_to 'Read more', '', class: "read-more-#{i.id}-contents" %>
              <script>
                $('.read-more-<%= i.id %>-contents').on('click', function(e) {
                  e.preventDefault();
                  $(this).parent().html('<% i.contents_array.each do |contents| %><p><%= escape_javascript contents %></p><% end %>');
                });
              </script>
            <% else %>
              <% i.contents_array.each do |contents| %>
                <p><%= contents %></p>
              <% end %>
            <% end %>
          </dd>
        </dl>
      <% end %>
    </div>
    <div class="col-md-3 order-md-3 order-2 mb-2">
      <div class="text-center">
        <button type="button" class="btn btn-success btn-lg">Place Hold</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="pills-tab" role="tablist">

        <li class="nav-item">
          <a class="flex-md-fill text-md-center nav-link<%= if i.availability['copies_all_available'].to_i >= 1 then ' active' else ' disabled' end %>" id="pills-copies_available-tab" data-toggle="pill" href="#pills-copies_available" role="tab" aria-controls="pills-copies_available" aria-selected="true">Copies on Shelf</a>
        </li>

        <li class="nav-item">
          <a class="flex-md-fill text-md-center nav-link<%= if i.availability['copies_all_available'].to_i == 0 then ' active' end %>" id="pills-all_copies-tab" data-toggle="pill" href="#pills-all_copies" role="tab" aria-controls="pills-all_copies" aria-selected="false">All Copies <span class="badge badge-light"><%= i.availability['copies_all'] %></span></a>
        </li>

        <% if !i.genres.blank? %>
          <li class="nav-item">
            <a class="flex-md-fill text-md-center nav-link" id="pills-genres-tab" data-toggle="pill" href="#pills-genres" role="tab" aria-controls="pills-genres" aria-selected="false">Genres</a>
          </li>
        <% end %>

        <% if !i.subjects.blank? %>
          <li class="nav-item">
            <a class="flex-md-fill text-md-center nav-link" id="pills-subjects-tab" data-toggle="pill" href="#pills-subjects" role="tab" aria-controls="pills-subjects" aria-selected="false">Subjects</a>
          </li>
        <% end %>

        <% if !i.author_other.blank? %>
          <li class="nav-item">
            <a class="flex-md-fill text-md-center nav-link" id="pills-other_authors-tab" data-toggle="pill" href="#pills-other_authors" role="tab" aria-controls="pills-other_authors" aria-selected="false">Other Authors/Cast</a>
          </li>
        <% end %>

      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade<%= if i.availability['copies_all_available'].to_i >= 1 then ' show active' end %>" id="pills-copies_available" role="tabpanel" aria-labelledby="pills-copies_available-tab">
          <div class="table-responsive-sm">
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">Library</td>
                  <th scope="col">Location</td>
                  <th scope="col">Status</td>
                </tr>
              </thead>
              <tbody>
                <% i.holdings.each do |copy| %>
                  <% if copy['status'] == 'Available' %>
                    <tr>
                      <td><%= copy['circ_lib'] %></td>
                      <td><strong><%= copy['call_number'] %></strong> in <strong><%= copy['location'] %></strong></td>
                      <td><%= copy['status'] %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane fade<%= if i.availability['copies_all_available'].to_i == 0 then ' show active' end %>" id="pills-all_copies" role="tabpanel" aria-labelledby="pills-a