<div class="container">
  <div class="row mb-3">
    <div class="col-lg-12">
      <button id="previous-<%= i.id%>" style="display:none" class="btn btn-sm btn-outline-primary float-left previous_link" onclick="previous_item()">
        <%= icon('fas', 'arrow-left') %> Previous
      </button>
      <button id="next-<%= i.id%>" style="display:none" class="btn btn-sm btn-outline-primary float-right next_link" onclick="next_item()">
        Next <%= icon('fas', 'arrow-right') %>
      </button>
    </div>
  </div>


  <div class="row">
    <div id="item_cover_<%= i.id %>_details" class="col-md-3 order-1 mb-2 item-cover text-center">
      <img src="<%= Settings.cover_url_prefix_lg %><%= i.id %>" class="img-fluid" onerror="missing_cover('<%= i.id %>', '<%= i.type_of_resource %>')" onload="check_blank_cover(this)">
    </div>
    <div class="col-md-6 order-md-2 order-3 mb-2">
      <h4><%= icon('fas', item_format_icon(i.type_of_resource)) %> <%= i.title_display %></h4>
      <% if i.author.present? %>
        <% search_loc = i.search_location.present? ? i.search_location : Settings.location_default %>
        <h5>
          <a href="/search?query=<%= i.author %>&type=author&location=<%= search_loc %>">
            <%= i.author %>
          </a>
        </h5>
      <% end %>
      <div id="goodreads_review-<%= i.id %>"></div>
      <% if !i.abstract.blank? %>
        <dl>
          <dt>Summary</dt>
          <dd>
            <% if i.abstract_array.map { |str| "#{str}"}.join().length > 275 %>
              <%= truncate(i.abstract, length: 250) %>
              <%= link_to 'Read more', '', class: "read-more-#{i.id}-abstract" %>
              <script>
                $('.read-more-<%= i.id %>-abstract').on('click', function(e) {
                  e.preventDefault();
                  $(this).parent().html('<% i.abstract_array.each do |abstract| %><p><%= escape_javascript abstract %></p><% end %>');
                });
              </script>
            <% else %>
              <% i.abstract_array.each do |abstract| %>
                <p><%= abstract %></p>
              <% end %>
            <% end %>
          </dd>
        </dl>
      <% end %>
      <% if !i.contents.blank? %>
        <dl>
          <dt>Contents</dt>
          <dd>
            <% if i.contents_array.map { |str| "#{str}"}.join().length > 275 %>
              <%= truncate(i.contents, length: 250) %>
              <%= link_to 'Read more', '', class: "read-more-#{i.id}-contents" %>
              <script>
                $('.read-more-<%= i.id %>-contents').on('click', function(e) {
                  e.preventDefault();
                  $(this).parent().html('<% i.contents_array.each do |contents| %><p><%= escape_javascript contents %></p><% end %>');
                });
              </script>
            <% else %>
              <% i.contents_array.each do |contents| %>
                <p><%= contents %></p>
              <% end %>
            <% end %>
          </dd>
        </dl>
      <% end %>
      <div id="trailer_<%= i.id %>"></div>
      <div class="card-text">
        <% if i.publisher.present? %>
          <span class="font-weight-bold">Publisher: </span>
          <%= i.publisher %>
        <% end %>
      </div>
      <div class="card-text">
        <% if i.sort_year.present? %>
          <span class="font-weight-bold">Publication Year: </span>
          <%= i.sort_year %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 order-md-3 order-2 mb-2">
      <div class="text-center">
        <% userdetails = (cookies[:user].present?) ? JSON.parse(cookies[:user]) : "" %>
        <% if i.holdable == true && i.electronic == false %>
          <button type="button" class="btn btn-success btn-lg" onclick="place_hold('<%= i.id %>', '', 'from_details')">Place Hold</button>
        <% elsif i.electronic.to_s == "true" %>
          <a class="btn btn-success btn-lg" href="<%= i.eresource_link %>">View Resource</a>
        <% end %>
      </div>
      <% if i.hold_count.to_i > 0 %>
        <div class="hold-info font-weight-bold text-center">
          <% total_copies = i.availability['copies_all'] %>
          <% copy_noun = total_copies > 1 ? 'copies' : 'copy' %>
          <%= i.hold_count %> hold<% if i.hold_count.to_i > 1 %>s<% end %> on <%= total_copies %> <%= copy_noun %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="pills-tab" role="tablist">
        <% if i.electronic.to_s == "false" %>
          <% location_specific = ((i.search_location.to_s != Settings.location_default.to_s) && (Settings.location_single == false)) ? true : false %>

          <% if location_specific == true %>
            <% tab_copies_available_active_class = (i.search_location_copies.to_i >= 1) ? ' active' : ' disabled' %>
            <% tab_all_copies_active_class = (i.search_location_copies.to_i == 0) ? ' active' : '' %>
            <% content_copies_available_active_class = (i.search_location_copies.to_i >= 1) ? ' show active' : '' %>
            <% content_all_copies_active_class = (i.search_location_copies.to_i == 0) ? ' show active' : '' %>
          <% else %>
            <% tab_copies_available_active_class = (i.availability['copies_all_available'].to_i >= 1) ? ' active' : ' disabled' %>
            <% tab_all_copies_active_class = (i.availability['copies_all_available'].to_i == 0) ? ' active' : '' %>
            <% content_copies_available_active_class = (i.availability['copies_all_available'].to_i >= 1) ? ' show active' : '' %>
            <% content_all_copies_active_class = (i.availability['copies_all_available'].to_i == 0) ? ' show active' : '' %>
          <% end %>

          <li class="nav-item">
            <a class="flex-md-fill text-md-center nav-link<%= tab_copies_available_active_class %>" id="pills-copies_available-tab" data-toggle="pill" href="#pills-copies_available" role="tab" aria-controls="pills-copies_available" aria-selected="true">Copies on Shelf</a>
          </li>

          <li class="nav-item">
            <a class="flex-md-fill text-md-center nav-link<%= tab_all_copies_active_class %>" id="pills-all_copies-tab" data-toggle="pill" href="#pills-all_copies" role="tab" aria-controls="pills-all_copies" aria-selected="false">All Copies <span class="badge badge-light"><%= i.availability['copies_all'] %></span></a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="flex-md-fill text-md-center nav-link active" id="pills-eresource-tab" data-toggle="pill" href="#pills-eresource" role="tab" aria-controls="pills-eresource" aria-selected="false">Electronic Resource</a>
          </li>
        <% end %>
        <% if !i.genres.blank? %>
          <li class="nav-item">
            <a class="flex-md-fill text-md-center nav-link" id="pills-genres-tab" data-toggle="pill" href="#pills-genres" role="tab" aria-controls="pills-genres" aria-selected="false">Genres</a>
          </li>
        <% end %>

        <% if !i.subjects.blank? %>
          <li class="nav-item">
            <a class="flex-md-fill text-md-center nav-link" id="pills-subjects-tab" data-toggle="pill" href="#pills-subjects" role="tab" aria-controls="pills-subjects" aria-selected="false">Subjects</a>
          </li>
        <% end %>

        <% if !i.author_other.blank? %>
          <li class="nav-item">
            <a class="flex-md-fill text-md-center nav-link" id="pills-other_authors-tab" data-toggle="pill" href="#pills-other_authors" role="tab" aria-controls="pills-other_authors" aria-selected="false">Other Authors/Cast</a>
          </li>
        <% end %>

      </ul>
      <div class="tab-content" id="pills-tabContent">
        <% if i.electronic.to_s == "false" %>
          <div class="tab-pane fade<%= content_copies_available_active_class %>" id="pills-copies_available" role="tabpanel" aria-labelledby="pills-copies_available-tab">
            <div class="table-responsive-sm">
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">Library</td>
                    <th scope="col">Location</td>
                    <th scope="col">Status</td>
                  </tr>
                </thead>
                <tbody>
                  <% i.holdings.each do |copy| %>
                    <% if location_specific == true %>
                      <% if (copy['status'] == 'Available' || copy['status'] == 'Reshelving') && copy['circ_lib'] == location_map(i.search_location, 'short') %>
                        <tr>
                          <td><%= copy['circ_lib'] %></td>
                          <td><strong><%= copy['call_number'] %></strong> in <strong><%= copy['location'] %></strong></td>
                          <td><%= copy['status'] %></td>
                        </tr>
                      <% end %>
                    <% elsif (copy['status'] == 'Available' || copy['status'] == 'Reshelving') %>
                      <tr>
                        <td><%= copy['circ_lib'] %></td>
                        <td><strong><%= copy['call_number'] %></strong> in <strong><%= copy['location'] %></strong></td>
                        <td><%= copy['status'] %></td>
                      </tr>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tab-pane fade<%= content_all_copies_active_class %>" id="pills-all_copies" role="tabpanel" aria-labelledby="pills-all_copies-tab">
            <div class="table-responsive-sm">
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">Library</td>
                    <th scope="col">Location</td>
                    <th scope="col">Status</td>
                  </tr>
                </thead>
                <tbody>
                  <% i.holdings.each do |copy| %>
                    <tr>
                      <td><%= copy['circ_lib'] %></td>
                      <td><strong><%= copy['call_number'] %></strong> in <strong><%= copy['location'] %></strong></td>
                      <td><%= copy['status'] %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% else %>
          <div class="tab-pane fade show active" id="pills-eresource" role="tabpanel" aria-labelledby="pills-eresource-tab">
            <h3>This item is an electronic resource provided by <%= i.source %>.</h3>
          </div>
        <% end %>
        <% if !i.genres.blank? %>
          <div class="tab-pane fade" id="pills-genres" role="tabpanel" aria-labelledby="pills-genres-tab">
            <div class="list-group">
              <% i.genres.each do |genre| %>
                <a href="/search?query=<%= genre %>&amp;type=single_genre" class="list-group-item list-group-item-action"><%= genre %></a>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if !i.subjects.blank? %>
          <div class="tab-pane fade" id="pills-subjects" role="tabpanel" aria-labelledby="pills-subjects-tab">
            <div class="list-group">
              <% i.subjects.each do |subject| %>
                <a href="/search?query=<%= subject %>&amp;type=subject" class="list-group-item list-group-item-action"><%= subject %></a>
              <% end %>
            </div>
          </div>
        <% end %>
        <% if !i.author_other.blank? %>
          <div class="tab-pane fade" id="pills-other_authors" role="tabpanel" aria-labelledby="pills-other_authors-tab">
            <div class="list-group">
              <% i.author_other.each do |author| %>
                <a href="/search?query=<%= author %>&amp;type=author" class="list-group-item list-group-item-action"><%= author %></a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function load_added_content(record_id, isbn) {
    if (isbn && isbn != '') {
      fetch_good_reads(isbn, record_id)
      }
    fetch_youtube_trailer(record_id)
  }
  
  function fetch_good_reads(isbn, record_id) {
    var target_div = '#goodreads_review-' + record_id
    var clean_isbn = isbn.replace(/\D/g,'')
    var url = 'https://tadl-toolbox.appstwo.tadl.org/goodreads?isbn=' + clean_isbn
    $.get(url)
    .done(function(data) {
      if (data.gr_id) {
        var content = '<span class="goodreads-stars"><a href="' + data.gr_link +'">'
        content = content + data.stars_html + ' on GoodReads.com'
        content = content + '</a></span>'
        $(target_div).html(content)
      }
    });
  }
  

  function fetch_youtube_trailer(record_id) {
    var url = 'https://trailer-tank.herokuapp.com/main/get_trailer.json?id=' + record_id
    $.get(url)
    .done(function(data) {
      if (data.message && data.message != 'error') {
        var content = '<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-reponsive-item" src="/youtube_trailer?id='+ data.message +'"></iframe>'
        var target_div = '#trailer_' + record_id
        $(target_div).html(content)
      }
    });
  }

  load_added_content('<%= i.id %>','<%= escape_javascript(i.isbn[0]) %>')

</script>
