<div class="container">
  <div class="row mb-3">
    <div class="col-lg-12">
      <button id="previous-<%= i.id%>" style="display:none" class="btn btn-sm btn-outline-primary float-left" onclick="previous_item()">
        <%= fa_icon "arrow-left" %> Previous
      </button>
      <button id="next-<%= i.id%>" style="display:none" class="btn btn-sm btn-outline-primary float-right" onclick="next_item()">
        Next <%= fa_icon "arrow-right" %>    
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 order-1 mb-2">
      <div class="text-center">
        <img src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= i.id %>" class="img-fluid">
      </div>
    </div>
    <div class="col-md-6 order-md-2 order-3 mb-2">
      <h4><%= i.title %></h4>
      <h5><%= i.author %></h5>
      <% if i.abstract != '' %>
        <p><b>Summary: </b> <%= i.abstract %></p>
      <% end %>
    </div>
    <div class="col-md-3 order-md-3 order-2 mb-2">
      <div class="text-center">
        <button type="button" class="btn btn-success btn-lg">Place Hold</button>
      </div>
    </div>
  </div>
</div>