<div id="search_box" class="col">
  <form id="search_form" action="/search">
    <div class="row">
      <div class="col">
        <div class="form-group mb-2">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text" id="search-addon">Search</span>
            </div>
            <input id="search_for" name="query" class="form-control" aria-describedby="search-addon" value="<%= @search.query %>" autocomplete='off' placeholder="Books, movies, music &amp; more!">
            <div class="input-group-append">
              <button id="search_button" class="btn btn-primary px-lg-5 px-md-4 px-3" type="submit" form="search_form"><span class="sr-only">Search</span><%= icon('fas', "search") %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if defined?(@search.facets) && @search.facets.present? %>
      <% if @search.facets.size > 0 %>
        <div class="row mt-0 p-0 mb-0">
          <% @search.facets.each do |facet| %>
            <% if facet['subfacets'].size > 0 %>
              <% facet['subfacets'].each do |s| %>
                <% if active_facet_tester(@search, [facet['type_raw'], s]) == true %>
                  <a href="<%= search_link_builder('remove_facet', @search, [facet['type_raw'], s]) %>" class="btn btn-sm btn-primary mx-1 mt-0 mb-2 p-1" type="button">
                    <%= facet['type_singular'] %>:<%= s %>
                    <span class="badge badge-light text-danger badge-pill"> X </span>
                  </a>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <button class="btn btn-primary btn-block text-left mb-3 d-block d-md-none" type="button" data-toggle="collapse" data-target="#search-opts" aria-expanded="true" aria-controls="search-addon" title="Search Options">Toggle Search Options <i class="fa float-right"></i></button>
    <div class="row toggles show" id="search-opts">
      <div class="col-12 col-md-6 col-lg-3 order-md-1">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend" style="width: 100%">
            <span class="input-group-text">Type</span>
            <select class="form-control form-control-sm<%= (params[:new_search].to_s != 'true') ? ' autoload' : '' %>" id="type" name="type">
              <% @search.search_type_options.each do |s| %>
                <option value="<%= s[1] %>"  <%= check_selected(@search.type, s[1]) %>>
                  <%= s[0] %>
                </option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 order-md-2">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend" style="width: 100%">
            <span class="input-group-text">Format</span>
            <select class="form-control form-control-sm<%= (params[:new_search].to_s != 'true') ? ' autoload' : '' %>" id="formats" name="fmt">
              <% @search.format_options.each do |s| %>
                <option value="<%= s[0] %>"  <%= check_selected(@search.fmt, s[0]) %>>
                  <%= s[0] %>
                </option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 order-md-3">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend" style="width: 100%">
            <span class="input-group-text">Sort By</span>
            <select class="form-control form-control-sm<%= (params[:new_search].to_s != 'true') ? ' autoload' : '' %>" id="sorts" name="sort">
              <% @search.sort_options.each do |s| %>
                <option value="<%= s[1] %>" <%= check_selected(@search.sort, s[1]) %>>
                  <%= s[0] %>
                </option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <% if @search.location_options %>
        <div class="col-12 col-md-6 col-lg-3 order-md-4">
          <div class="input-group input-group-sm mb-2">
            <div class="input-group-prepend" style="width: 100%">
              <span class="input-group-text">Location</span>
              <select class="form-control form-control-sm<%= (params[:new_search].to_s != 'true') ? ' autoload' : '' %>" id="locations" name="location">
                <% if params[:new_search] == 'true' && Settings.opac !=  true && cookies[:user].present? %>
                  <% @userdetails = JSON.parse(cookies[:user]) %>
                  <% @search.location = @userdetails['default_search'] %>
                <% end %>
                <% @search.location_options.each do |s| %>
                  <option value="<%= s[1] %>"  <%= check_selected(@search.location, s[1]) %>>
                    <%= s[0] %>
                  </option>
                <% end %>
              </select>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-12 col-md-6 col-lg-3 order-md-5">
        <div class="input-group input-group-sm mb-2">
          <div class="input-group-prepend" style="width: 100%">
            <span class="input-group-text">Display as</span>
            <select class="form-control form-control-sm<%= (params[:new_search].to_s != 'true') ? ' autoload' : '' %>" id="view" name="view">
              <option value="list" <%= check_selected(@search.view, 'list') %>>
                List
              </option>
              <option value="grid" <%= check_selected(@search.view, 'grid') %>>
                Grid
              </option>
              <option value="simple" <%= check_selected(@search.view, 'simple') %>>
                Simple
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 order-md-6">
        <div class="input-group input-group-sm mt-1">
          <div class="form-check">
            <input class="form-check-input<%= (params[:new_search].to_s != 'true') ? ' autoload' : '' %>" type="checkbox" value="true" id="limit_available" name="limit_available" <%= if_true_checked(@search.limit_available) %>>
            <label class="form-check-label" for="limit_available">
              Available Only
            </label>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 order-md-8 order-lg-7">
        <div class="input-group input-group-sm mt-1">
          <div class="form-check">
            <input class="form-check-input<%= (params[:new_search].to_s != 'true') ? ' autoload' : '' %>" type="checkbox" value="true" id="limit_physical" name="limit_physical" <%= if_true_checked(@search.limit_physical) %>>
            <label class="form-check-label" for="limit_physical">
              Physical Items Only
            </label>
          </div>
        </div>
      </div>
      <% if Settings.melcat_enabled == true && params[:new_search].to_s != "true" %>
        <div class="col-12 col-md-6 col-lg-3 mb-2 order-md-7 order-lg-8">
          <a role="button" class="btn btn-sm btn-light btn-block" href="<%= Settings.melcat_link + url_encode(@search.query) %>">Search MeLCat</a>
        </div>
      <% end %>
    </div>
  </form>
</div>
