<% if !@user.error %>
  $('#navbar').html("<%= escape_javascript(render partial: 'navbar') %>");
  $.fancybox.close();
  $.get('/lists.json');
  <% if @user.temp_password == true %>
    var fancy_options = {
      smallBtn: false,
      buttons: [],
      clickSlide: false,
      clickOutside: false
    }
    var temp_password_html = '<div class="detail_fancybox" style="max-width: 600px;"><%= escape_javascript(render 'temp_password') %></div>'
    $.fancybox.open(temp_password_html, fancy_options);
    $('#temp_password').val('<%= params[:password] %>')
    <% if !@from_action.blank? %>
      $('#temp_from_action').val('<%= @from_action %>')
      <% if !@target_hold.blank? %>
        $('#temp_target_hold').val('<%= @target_hold %>')
      <% end %>
    <% end %>
  <% elsif !@from_action.blank? %>
    <% if !@target_hold.blank? %>
      <% if @from_action == 'from_details' %>
        var target_div = '.details-hold-button-<%= escape_javascript(@target_hold) %>'
      <% else %>
        var target_div = '.list-hold-button-<%= escape_javascript(@target_hold) %>'
      <% end %>
        $(target_div).find(".btn").click()
    <% else %>
      window.location = "/<%= @from_action %>"
    <% end %>
  <% end %>
<% else %>
  $('#login-message').html("<p>Error: The username or password provided was not valid. Passwords are case-sensitive. Check your Caps-Lock key and try again or contact your local library.</p>");
<% end %>
