<% if !@user.error %>
  <% @userdetails = JSON.parse(cookies[:user]) %>
  $('#navbar').html("<%= escape_javascript(render partial: 'navbar') %>");
  <% if params[:from_action] == 'list_of_results'%>
    var target_div = '.list-hold-button-<%= escape_javascript(@hold.id) %>'
  <% else %>
    var target_div = '.details-hold-button-<%= escape_javascript(@hold.id) %>'
  <% end %>
  <% if !@hold.error %>
    var message = '<div class="text-success">Hold successfully placed for pickup at '
    message += '<%= escape_javascript(location_map(@user.pickup_library, "long")) %></div>'
    message += ' <button class="btn btn-primary btn-sm change_pickup_button" data-record_id="<%= escape_javascript(@hold.id.to_s) %>" data-from_action="<%= escape_javascript(params[:from_action]) %>" onclick="show_change_pickup(this)">Change pickup location</button>'
  <% else %>
    var message = '<div class="text-danger">Hold was not successfully placed:'
    message += '<br><%= escape_javascript(@hold.error) %></div>'
    <% if @hold.need_to_force == true %>
      message += '<button class="btn btn-primary btn-sm" onclick="place_hold(this, <%= escape_javascript(@hold.id.to_s) %>, \'true\', \'<%= escape_javascript(params[:from_action]) %>\')">Force Hold</button>'
    <% end %>
  <% end %>
  $(target_div).html(message);
<% end %>
