<% if !@user.error %>
  <% @userdetails = JSON.parse(cookies[:user]) %>
  $('#navbar').html("<%= escape_javascript(render partial: 'navbar') %>");
  <% if params[:from_action] == 'list_of_results'%>
    var traget_div = '.list-hold-button-<%= escape_javascript(@hold.id) %>'
  <% else %>
    var traget_div = '.details-hold-button-<%= escape_javascript(@hold.id) %>'
  <% end %>
  <% if !@hold.error %>
    var message = '<div class="text-success">Hold successfully placed for pickup at '
    message += '<%= escape_javascript(location_map(@user.pickup_library, "long")) %></div>'
    message += ' <button class="btn btn-primary btn-sm" onclick="show_change_pickup(this, \'<%= escape_javascript(@hold.id.to_s) %>\', \'<%= escape_javascript(params[:from_action]) %>\',\'\',\'\')">Change pickup location</button>'
  <% else %>
    var message = '<div class="text-danger">Hold was not successfully placed. '
    message += '<%= escape_javascript(@hold.error) %></div>'
  <% end %>
  $(traget_div).html(message);
<% end %>

