<% if @user.overdue.to_i > 0 %>
  <div class="row">
    <div class="col-12">
      <h2 class="text-center mt-3">
        You have <%= @user.overdue %> overdue item<% if @user.overdue.to_i != 1 %>s<% end %>.
      </h2>
      <h2 class="text-center mt-3">
        Please return <%= (@user.overdue.to_i != 1) ? 'them' : 'it' %>, or <a href="<%= checkouts_path %>">view your checkouts</a> to attempt renewal. Thank you!
      </h2>
    </div>
  </div>
<% end %>
<div class="row">
  <div id="account-menu" class="col-12 col-md-3 mt-3">
    <%= render 'account_menu' %>
  </div>

  <div id="account-preferences" class="col-12 col-md-9 mt-3">
    <%= render 'account_preferences' %>
  </div><!-- #account-preferences -->
</div><!-- .row -->
<script>
  var last_number;
  var digits_trimmed;
  var element = '#edit-pref-text-notify-number';
  $(element).keyup(function(event) {
    $(this).val($(this).val().replace(/^(\d{3})(\d{3})(\d)+$/, "$1-$2-$3"));
    if ($(this).val() == "") {
      $('#text-notify-feedback').removeClass();
      $('#text-notify-text-feedback').html("").removeClass();
    }
    if (event.which !== 0) {
      let test_number = $(element).val();
      let digits = test_number.replace(/\D/g, '');
      digits_trimmed = digits.replace(/^1/, '');
      if (digits_trimmed.length == 10) {
        if (last_number != digits_trimmed) {
          last_number = digits_trimmed;
          $('#text-notify-feedback').removeClass().addClass('fas fa-spinner text-muted spin').show()
          validate_sms(digits_trimmed);
        }
      }
    }
  });

  $('#edit-pref-new-password').keyup(function(event) {
    $('#new-password-note').empty();
  });
  $('#edit-pref-new-password2').keyup(function(event) {
    $('#new-password-note').empty();
  });
  $('#edit-pref-current-password').keyup(function(event) {
    $('#new-password-note').empty();
    $('#current-password-note').empty();
  });
  $('#edit-pref-username').keyup(function(event) {
    $('#username-feedback').empty().removeClass();
    if ($(this).val()) {
      $(this).css('border', '1px solid rgb(206, 212, 218)');
    } else {
      $(this).css('border', '1px solid red');
      $('#username-feedback').html('Username can not be blank').addClass('form-text text-danger');
    }
  })

  $('#edit-pref-phone-notify-number').keyup(function() {
    $(this).val($(this).val().replace(/^(\d{3})(\d{3})(\d)+$/, "$1-$2-$3"));
  });

  $('#edit-pref-email-address').keyup(function() {
    var validemail = /[a-zA-Z0-9_+-]+(\.[a-zA-Z0-9_+-]+)*@([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}/;
    if (validemail.test($(this).val())) {
      $(this).attr('data-valid', 'true');
      $(this).css('border', '1px solid green');
      $('#email-address-feedback').html("").removeClass();
    } else {
      $(this).css('border', '1px solid red');
      $(this).attr('data-valid', 'false');
      $('#email-address-feedback').html("This e-mail address does not appear to be valid.").removeClass().addClass('form-text text-danger');
    }
  });

  $(document).ready(function () {
    $(".numberinput").forceNumeric();
  });

  // forceNumeric() plug-in implementation
  jQuery.fn.forceNumeric = function () {
    return this.each(function () {
      $(this).keydown(function (e) {
        var key = e.which || e.keyCode;

        if (!e.shiftKey && !e.altKey && !e.ctrlKey &&
        // numbers
          key >= 48 && key <= 57 ||
        // Numeric keypad
          key >= 96 && key <= 105 ||
        // comma, period and minus, . on keypad
          key == 190 || key == 188 || key == 109 || key == 110 ||
        // Backspace and Tab and Enter
          key == 8 || key == 9 || key == 13 ||
        // Home and End
          key == 35 || key == 36 ||
        // left and right arrows
          key == 37 || key == 39 ||
        // Del and Ins
          key == 46 || key == 45)
            return true;

        return false;
      });
    });
  }

</script>
