<div class="list-group mb-3">
  <div class="list-group-item active"><h4>My Account</h4></div>
  <a href="<%= preferences_path %>" class="list-group-item list-group-item-action<%= (request.path == preferences_path) ? ' active' : '' %>">Account Preferences</a>
  <a href="<%= checkouts_path %>" class="list-group-item list-group-item-action<%= (request.path == checkouts_path) ? ' active' : '' %>">Checked Out Items</a>
  <a href="<%= holds_path %>" class="list-group-item list-group-item-action<%= (request.path == holds_path) ? ' active' : '' %>">All Items on Hold</a>
  <a href="<%= holds_pickup_path %>" class="list-group-item list-group-item-action<%= (request.path == holds_pickup_path) ? ' active' : '' %>">Holds Ready for Pickup</a>
  <a href="<%= lists_path %>" class="list-group-item list-group-item-action<%= (request.path == lists_path) ? ' active' : '' %>">Lists</a>
  <a href="<%= fines_path %>" class="list-group-item list-group-item-action<%= (request.path == fines_path) ? ' active' : '' %>">Current Fines</a>
  <a href="<%= payments_path %>" class="list-group-item list-group-item-action<%= (request.path == payments_path) ? ' active' : '' %>">Past Payments</a>
  <a href="<%= checkout_history_path %>" class="list-group-item list-group-item-action<%= (request.path == checkout_history_path) ? ' active' : '' %>">Checkout History</a>
</div>
<% if Settings.melcat_enabled == true && Settings.melcat_id_display == true %>
  <div class="card mb-3">
    <div class="card-header bg-primary text-white">Your MeLCat ID</div>
    <div class="card-body">
      <p class="card-text"><%= @user.melcat_id %></p>
    </div>
  </div>
<% end %>
<% if Settings.primary_card_display == true %>
  <div class="card mb-3">
    <div class="card-header bg-primary text-white">Your Primary Library Card</div>
    <div class="card-body">
      <p class="card-text"><%= @user.card %></p>
    </div>
  </div>
<% end %>
