<% cover_column_classes = 'col-12 col-sm-3 col-md-3 col-lg-3 col-xl-2' %>
<% details_column_classes = 'col-12 col-sm-9 col-md-9 col-lg-6 col-xl-7' %>
<% button_column_classes = 'col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3' %>
<div class="item card mb-3" data-record_id="<%= i.id %>">
  <a href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'list', null, <%= i.search_location %>)" class="item_details_link">
    <h5 class="card-header">
      <%= icon('fas', item_format_icon(i.type_of_resource)) %> <%= i.title_display %>
    </h5>
  </a>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div id="item_cover_<%= i.id %>" class="<%= cover_column_classes %> text-center">
          <a href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'list', null, <%= i.search_location %>)" class="item_details_link">
            <img id="cover_<%= i.id %>" src="<%= Settings.cover_url_prefix_lg %><%= i.id %>" class="img-fluid item_cover mb-4" onerror="missing_cover('<%= i.id %>', '<%= i.type_of_resource %>')" onload="check_blank_cover(this)">
          </a>
        </div>
        <div class="<%= details_column_classes %>">
          <% iso_date = Date.strptime(i.due_date, '%m/%d/%Y').mjd %>
          <% today_date = Date.current.mjd %>
          <% days_count = (today_date - iso_date).abs %>
          <% if iso_date < today_date %>
            <% ago_fromnow = "ago" %>
            <h2 class="card-title font-weight-bold"><%= days_count %> Day<% if days_count != 1 %>s<% end %> Overdue</h2>
          <% end %>
          <% if iso_date == today_date %>
            <h2 class="card-title font-weight-bold">Due Today</h2>
          <% end %>
          <% if iso_date > today_date %>
            <% ago_fromnow = "from now" %>
            <% if days_count <= 3 %>
              <h2 class="card-title font-weight-bold">Due in <%= days_count %> Day<% if days_count != 1 %>s<% end %></h2>
            <% end %>
          <% end %>
          <h4 class="card-title">
            <% if i.author.present? %>
              <% search_loc = i.search_location.present? ? i.search_location : Settings.location_default %>
              <% search_view = i.search_view.present? ? i.search_view : Settings.view_default %>
              <a href="/search?query=<%= i.author %>&type=author&location=<%= search_loc %>&view=<%= search_view %>">
                <strong><%= i.author %></strong>
              </a>
            <% end %>
          </h4>
          <div class="w-100">
            <p class="card-text">
              <span class="font-weight-bold">Item Barcode:</span> <%= i.barcode %>
            </p>
            <p class="card-text text-large">
              <span class="font-weight-bold">Due Date:</span> <%= i.due_date %>
              <% if days_count != 0 %>
                (<span class="font-weight-bold"><%= days_count %></span> day<% if days_count != 1 %>s<% end %> <%= ago_fromnow %>)
              <% else %>
                (today)
              <% end %>
            </p>
            <p class="card-text">
              <% if i.renew_attempts.to_i > 0 %>
                <span class="font-weight-bold">Renewals remaining if not on hold for other patron:</span> <%= i.renew_attempts %>
              <% else %>
                <span class="font-weight-bold">Not available for renewal.</span>
              <% end %>
            </p>
          </div>
        </div>
        <div class="<%= button_column_classes %>">
          <% if i.renew_attempts.to_i > 0 %>
            <div class="mb-3">
              <button class="btn btn-primary btn-block renew-button" type="button" data-checkout="<%= i.checkout_id %>" onclick="renew(<%= i.checkout_id %>, this)">Renew</button>
            </div>
          <% end %>
          <div class="mb-3">
            <a class="btn btn-primary btn-block item_details_link" role="button" href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'list', null, <%= i.search_location %>)">Details</a>
          </div>
          <% if i.renew_attempts.to_i > 0 %>
            <div class="mb-3">
              <button class="btn btn-light btn-block select" type="button" data-checkout="<%= i.checkout_id %>" onclick="toggle_select(this)">Select</button>
            </div>
          <% end %>
          <% if i.hold_count.to_i > 0 %>
            <div class="hold-info font-weight-bold text-center">
              <% total_copies = i.availability['copies_all'] %>
              <% copy_noun = total_copies > 1 ? 'copies' : 'copy' %>
              <%= i.hold_count %> hold<% if i.hold_count.to_i > 1 %>s<% end %> on <%= total_copies %> <%= copy_noun %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
