<% if facet['subfacets'].size > 0 %>
  <div class="card mb-2">
    <div class="card-header bg-primary text-light">
      <%= facet['type'] %>
    </div>
    <div class="list-group list-group-flush">
      <% facet['subfacets'].each do |s| %>
          <% if active_facet_tester(search, [facet['type_raw'], s]) == true %>
            <a href='<%= search_link_builder('remove_facet', search, [facet['type_raw'], s]) %>' class="list-group-item list-group-item-action justify-content-between align-items-center d-flex">
              <%= s %>
              <span class="badge badge-danger badge-pill"> X </span>
            </a>
          <% else %>
            <a href='<%= search_link_builder('add_facet', search, [facet['type_raw'], s]) %>' class="list-group-item list-group-item-action justify-content-between align-items-center d-flex">
              <%= s %>
            </a>
          <% end %>
      <% end %>
    </div>
  </div>
<% end %>
