<div class="item mb-3" data-record_id="<%= i.id %>" data-result_order="<%= i.result_order %>">
    <a href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'grid', <%= i.result_order %>)" class="item_details_link">
      <div id="grid_item_cover_<%= i.id %>" style="margin: 0 auto; text-align: center;">
        <img class="card-img-top" src="<%= Settings.cover_url_prefix_lg %><%= i.id %>" id="cover_<%= i.id %>" onerror="missing_cover('<%= i.id %>', '<%= i.type_of_resource %>')" onload="check_blank_cover(this)">
      </div>
      <h5 class="card-header<%= if i.is_available then ' bg-success item-available' end %>">
        <%= icon('fas', item_format_icon(i.type_of_resource)) %> <%= i.title_display %>
      </h5>
    </a>
</div>
