<% cover_column_classes = 'col-4 col-sm-3 col-md-3' %>
<% details_column_classes = 'col-8 col-sm-9 col-md-9' %>
<div class="item card mb-3" data-record_id="<%= i.id %>">
  <a href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'list', null, <%= i.search_location %>)" class="item_details_link">
    <h5 class="card-header<%= (i.queue_status.include? "Ready for Pickup") ? ' bg-success item-available font-weight-bold' : '' %>">
      <%= icon('fas', item_format_icon(i.type_of_resource)) %> <%= i.title_display %>
        <% if i.queue_status.include? "Ready for Pickup" %>
          <small class="float-right item-available font-weight-bold">Ready for pickup</small>
        <% end %>
    </h5>
  </a>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div id="item_cover_<%= i.id %>" class="<%= cover_column_classes %> text-center">
          <a href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'list', null, <%= i.search_location %>)" class="item_details_link">
            <img id="cover_<%= i.id %>" src="<%= Settings.cover_url_prefix_lg %><%= i.id %>" class="img-fluid item_cover mb-4" onerror="missing_cover('<%= i.id %>', '<%= i.type_of_resource %>')" onload="check_blank_cover(this)">
          </a>
            <% if i.hold_count.to_i > 0 %>
              <div class="hold-info font-weight-bold text-center">
                <% total_copies = i.availability['copies_all'] %>
                <% copy_noun = total_copies > 1 ? 'copies' : 'copy' %>
                <%= i.hold_count %> hold<% if i.hold_count.to_i > 1 %>s<% end %> on <%= total_copies %> <%= copy_noun %>
              </div>
            <% end %>
        </div>
        <div class="<%= details_column_classes %>">
          <div class="row">
            <% if (!i.queue_status.include? "Ready for Pickup") && (!i.queue_status.include? "In Transit") %>
              <div class="col mb-2">
                <% action = (i.hold_status == "Active") ? "Suspend" : "Activate" %>
                <% color = (i.hold_status == "Active") ? "btn-warning text-light" : "btn-success" %>
                <button class="btn <%= color %> btn-block btn-hold" type="button" data-hold="<%= i.hold_id %>" onclick="edit_hold(this, '<%= action %>')"><%= action %></button>
              </div>
            <% end %>
            <div class="col mb-2">
              <button class="btn btn-primary btn-block btn-hold" type="button" data-hold="<%= i.hold_id %>" onclick="cancel_confirm(this)">Cancel</button>
            </div>
            <div class="col mb-2">
              <a class="btn btn-info btn-block text-light item_details_link" role="button" href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'list', null, <%= i.search_location %>)">Details</a>
            </div>
            <div class="col mb-2">
              <button class="btn btn-light btn-block select" type="button" data-hold="<%= i.hold_id %>" onclick="toggle_select(this)">Select</button>
            </div>
          </div>
          <h4 class="card-title">
            <% if i.author.present? %>
              <% search_loc = i.search_location.present? ? i.search_location : Settings.location_default %>
              <% search_view = i.search_view.present? ? i.search_view : Settings.view_default %>
              <a href="/search?query=<%= i.author %>&type=author&location=<%= search_loc %>&view=<%= search_view %>">
                <strong><%= i.author %></strong>
              </a>
            <% end %>
          </h4>
          <div class="w-100">
            <% if !i.queue_status.include? "Ready for Pickup" %>
              <p class="card-text">
                <span class="font-weight-bold">Queue Position</span> <%= i.queue_state[0] %> with <%= i.queue_state[1] %> eligible <%= (i.queue_state[1] == 1) ? 'copy' : 'copies' %>.
              </p>
            <% end %>
            <p class="card-text list-hold-button-<%= i.id %>">
              <span class="font-weight-bold">Pickup Location</span> 
              <%= i.pickup_location %>
              <% if !i.queue_status.include? "Ready for Pickup" %>
                <button class="btn-sm btn btn-default ml-3" data-record_id="<%= i.id %>" data-from_action="list_of_results" data-hold_id="<%= i.hold_id %>" data-hold_status="<%= i.hold_status %>" onclick="show_change_pickup(this)">
                  Change
                </button>
              <% end %>
            </p>
            <p id="list-change-pickup-<%= i.id %>" style="display: none">
            </p>
            <p class="card-text text-large">
              <span class="font-weight-bold">Hold Status</span> <%= (i.hold_status == "Suspended") ? i.hold_status : i.queue_status %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
