<% cover_column_classes = 'col-12 col-sm-3 col-md-3 col-lg-3 col-xl-2' %>
<% details_column_classes = 'col-12 col-sm-9 col-md-9 col-lg-6 col-xl-7' %>
<% button_column_classes = 'col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3' %>
<div class="item card mb-3" data-record_id="<%= i.id %>">
  <a href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'list', null, <%= i.search_location %>)" class="item_details_link">
    <h5 class="card-header<%= (i.queue_status.include? "Ready for Pickup") ? ' bg-success item-available' : '' %>">
      <%= icon('fas', item_format_icon(i.type_of_resource)) %> <%= i.title_display %>
    </h5>
  </a>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div id="item_cover_<%= i.id %>" class="<%= cover_column_classes %> text-center">
          <a href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'list', null, <%= i.search_location %>)" class="item_details_link">
            <img id="cover_<%= i.id %>" src="<%= Settings.cover_url_prefix_lg %><%= i.id %>" class="img-fluid item_cover mb-4" onerror="missing_cover('<%= i.id %>', '<%= i.type_of_resource %>')" onload="check_blank_cover(this)">
          </a>
        </div>
        <div class="<%= details_column_classes %>">
          <h4 class="card-title">
            <% if i.author.present? %>
              <% search_loc = i.search_location.present? ? i.search_location : Settings.location_default %>
              <% search_view = i.search_view.present? ? i.search_view : Settings.view_default %>
              <a href="/search?query=<%= i.author %>&type=author&location=<%= search_loc %>&view=<%= search_view %>">
                <strong><%= i.author %></strong>
              </a>
            <% end %>
          </h4>
          <div class="w-100">
            <% if !i.queue_status.include? "Ready for Pickup" %>
              <p class="card-text">
                <span class="font-weight-bold">Queue Position</span> <%= i.queue_state[0] %> with <%= i.queue_state[1] %> eligible <%= (i.queue_state[1] == 1) ? 'copy' : 'copies' %>.
              </p>
            <% end %>
            <p class="card-text">
              <span class="font-weight-bold">Pickup Location</span> <%= i.pickup_location %> <% if !i.queue_status.include? "Ready for Pickup" %><button class="btn-sm btn btn-default ml-3">change</button><% end %>
            </p>
            <p class="card-text text-large">
              <span class="font-weight-bold">Hold Status</span> <%= (i.hold_status == "Suspended") ? i.hold_status : i.queue_status %>
            </p>
          </div>
        </div>
        <div class="<%= button_column_classes %>">
          <% if (!i.queue_status.include? "Ready for Pickup") && (!i.queue_status.include? "In Transit") %>
            <div class="mb-2">
              <% action = (i.hold_status == "Active") ? "Suspend" : "Activate" %>
              <button class="btn btn-success btn-block btn-hold" role="button" data-hold="<%= i.hold_id %>" onclick="edit_hold(this, '<%= action %>')"><%= action %></button>
            </div>
          <% end %>
          <div class="mb-2">
            <button class="btn btn-primary btn-block btn-hold" role="button" data-hold="<%= i.hold_id %>" onclick="cancel_confirm(this)">Cancel/Confirm</button>
          </div>
          <div class="mb-2">
            <a class="btn btn-primary btn-block item_details_link" role="button" href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'list', null, <%= i.search_location %>)">Details</a>
          </div>
          <div class="mb-2">
            <button class="btn btn-light btn-block select" role="button" data-hold="<%= i.hold_id %>" onclick="toggle_select(this)">Select</button>
          </div>
          <% if i.hold_count.to_i > 0 %>
            <div class="hold-info font-weight-bold text-center">
              <% total_copies = i.availability['copies_all'] %>
              <% copy_noun = total_copies > 1 ? 'copies' : 'copy' %>
              <%= i.hold_count %> hold<% if i.hold_count.to_i > 1 %>s<% end %> on <%= total_copies %> <%= copy_noun %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
