<div class="card  mb-3">
  <h5 class="card-header">
    <%= i.title %>
  </h5>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-2">
          <img src="https://catalog.tadl.org/opac/extras/ac/jacket/medium/r/<%= i.id %>" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-10">
          <h5 class="card-title"><%= i.author %></h5>
          <% if i.abstract != '' %>
            <p class="card-text"><b>Abstract:</b> <%= i.abstract %></p>
          <% end %>
          <% if i.contents != '' %>
            <p class="card-text"><b>Contents:</b> <%= i.contents %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>