<div class="card  mb-3">
  <a href="details?id=<%= i.id %>" onclick="item_details('<%= escape_javascript( i.to_json) %>')" class="item_details_link">
    <% if i.is_available(search) %>
      <h5 class="card-header bg-success">
        <span style="color: #fff"><%= i.title %></span>
      </h5>
    <% else %>
      <h5 class="card-header">
        <%= i.title %>
      </h5>
    <% end %>
  </a>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <img src="https://catalog.tadl.org/opac/extras/ac/jacket/medium/r/<%= i.id %>" class="img-fluid">
        </div>
        <div class="col-sm-12 col-md-9">
          <h5 class="card-title"><%= i.author %></h5>
          <% if i.abstract != '' %>
            <p class="card-text"><b>Abstract:</b> <%= i.abstract.truncate(250) %></p>
          <% end %>
          <% if i.contents != '' %>
            <p class="card-text"><b>Contents:</b> <%= i.contents.truncate(250) %></p>
          <% end %>
          <hr>
          <% if i.electronic == false %>
            <% if search.location == Settings.location_default || search.location.nil? %>
              <% if i.availability['copies_all_available'] > 0 %>
                <% i.availability['by_location'].each do |l| %>
                  <% if l['copies_available'] > 0 %>
                    <span class="text-success"><b>Copies Available at <%= l['name'] %></b></span>
                    <br>
                    <% l['shelving_locations'].each do |sl| %>
                      <b><%= sl['available_copies'] %></b> available in <b><%= sl['shelving_location'] %></b>, Call number: <b><%= sl['call_number'] %></b>  
                      <hr>
                    <% end %>
                  <% end %>
                <% end %>
              <% else %>
                No copies available please place a hold
              <% end %>
            <% else %>
              <% i.availability['by_location'].select{|h| h["code"] == search.location}.each do |l| %>
                <% if l['copies_available'] > 0 %>
                  <span class="text-success"><b>Copies Available at <%= l['name'] %></b></span>
                  <br>
                  <% l['shelving_locations'].each do |sl| %>
                    <% if sl['available_copies'] > 0 &&  %>
                      <b><%= sl['available_copies'] %></b> available in <b><%= sl['shelving_location'] %></b>, Call number: <b><%= sl['call_number'] %></b>
                      <hr>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if i.availability['copies_all_available'] > 0 %>
                    No copies available at this location. <b><%= i.availability['copies_all_available'] %></b> available elsewhere in the district. See more or place hold.
                  <% else %>
                    No copies available please place a hold
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>