<% cover_column_classes = 'col-12 col-sm-3 col-md-3 col-lg-3 col-xl-2' %>
<% details_column_classes = 'col-12 col-sm-9 col-md-9 col-lg-6 col-xl-8' %>
<% button_column_classes = 'col-12 col-sm-12 col-md-12 col-lg-3 col-xl-2' %>
<div class="item card mb-3" data-record_id="<%= i.id %>">
  <a href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'list', null, <%= i.search_location %>)" class="item_details_link">
    <h5 class="card-header<%= if i.is_available(search) then ' bg-success font-weight-bold item-available' end %>">
      <%= icon('fas', item_format_icon(i.type_of_resource)) %> <%= i.title_display %>
    </h5>
  </a>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div id="item_cover_<%= i.id %>" class="<%= cover_column_classes %> text-center">
          <a href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'list', null, <%= i.search_location %>)" class="item_details_link">
            <img id="cover_<%= i.id %>" src="<%= Settings.cover_url_prefix_lg %><%= i.id %>" class="img-fluid item_cover mb-4" onerror="missing_cover('<%= i.id %>', '<%= i.type_of_resource %>')" onload="check_blank_cover(this)">
          </a>
        </div>
        <div class="<%= details_column_classes %>">
          <h5 class="card-title">
            <% if i.author.present? %>
              <% search_loc = i.search_location.present? ? i.search_location : Settings.location_default %>
              <% search_view = i.search_view.present? ? i.search_view : Settings.view_default %>
              <h4>
                <a href="/search?query=<%= i.author %>&type=author&location=<%= search_loc %>&view=<%= search_view %>">
                  <strong><%= i.author %></strong>
                </a>
              </h4>
            <% end %>
          </h5>
          <div class="TODO temporary breakpoint test">
            <h2 class="d-block d-sm-none">Current breakpoint: XS</h2>
            <h2 class="d-none d-sm-block d-md-none">Current breakpoint: SM</h2>
            <h2 class="d-none d-md-block d-lg-none">Current breakpoint: MD</h2>
            <h2 class="d-none d-lg-block d-xl-none">Current breakpoint: LG</h2>
            <h2 class="d-none d-xl-block">Current breakpoint: XL</h2>
          </div><!-- TODO -->
          <div class="info-block">
            <% coder = HTMLEntities.new %>
            <% if i.abstract.present? %>
              <p class="card-text"><span class="font-weight-bold">Summary:</span> <%= coder.decode(i.abstract.truncate(250)) %></p>
            <% end %>
            <% if i.contents.present? %>
              <p class="card-text"><span class="font-weight-bold">Contents:</span> <%= coder.decode(i.contents.truncate(250)) %></p>
            <% end %>
            <% if i.sort_year.present? || i.publisher.present? %>
              <p class="card-text">
                <% if i.publisher.present? %>
                  <span class="font-weight-bold">Publisher: </span>
                  <%= i.publisher %>
                <% end %>
                <% if i.sort_year.present? %>
                  <span class="font-weight-bold<%= i.publisher.present? ? ' ml-3' : '' %>">Publication Year: </span>
                  <%= i.sort_year %>
                <% end %>
              </p>
            <% end %>
          </div>
          <% if i.electronic.to_s == "false" %>
            <% if search.location == Settings.location_default || search.location.nil? %>
              <% if i.availability['copies_all_available'] > 0 %>
                <% i.availability['by_location'].each do |l| %>
                  <% if l['copies_available'] > 0 %>
                    <div class="text-success"><strong>Copies Available at <%= l['name'] %></strong></div>
                    <div class="info-block">
                      <% l['shelving_locations'].each do |sl| %>
                        <div>
                          <strong><%= sl['available_copies'] %></strong> available in <strong><%= sl['shelving_location'] %></strong>, Call number: <strong><%= sl['call_number'] %></strong>  
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                No copies available please place a hold
              <% end %>
            <% else %>
              <% i.availability['by_location'].select{|h| h["code"] == search.location}.each do |l| %>
                <% if l['copies_available'] > 0 %>
                  <div class="text-success"><strong>Copies Available at <%= l['name'] %></strong></div>
                  <div class="info-block">
                    <% l['shelving_locations'].each do |sl| %>
                      <% if sl['available_copies'] > 0 &&  %>
                        <div>
                          <strong><%= sl['available_copies'] %></strong> available in <strong><%= sl['shelving_location'] %></strong>, Call number: <strong><%= sl['call_number'] %></strong>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                <% else %>
                  <% if i.availability['copies_all_available'] > 0 %>
                    No copies available at this location. <strong><%= i.availability['copies_all_available'] %></strong> available elsewhere in the district. See more or place hold.
                  <% else %>
                    No copies available please place a hold
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="<%= button_column_classes %>">
          <div class="details-button mb-3">
            <a class="btn btn-primary btn-block item_details_link" role="button" href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>, 'list', null, <%= i.search_location %>)">Details</a>
          </div>
          <% if i.electronic == false #&& logged_in == true %>
            <div class="hold-button mb-3">
              <a class="btn btn-primary btn-block" role="button" href="#">Place Hold</a>
            </div>
          <% elsif i.electronic == false #&& logged_in == false %>
            <div class="login-hold-button mb-3">
              <a class="btn btn-primary btn-block" role="button" href="#">Log in to Place Hold</a>
            </div>
          <% elsif i.electronic == true %>
            <div class="view-resource-button mb-3">
              <a class="btn btn-success btn-block" role="button" href="<%= i.eresource_link %>">View Resource</a>
            </div>
          <% end %>
          <% if i.hold_count.to_i > 0 %>
            <div class="hold-info font-weight-bold text-center">
              <% total_copies = i.availability['copies_all'] %>
              <% copy_noun = total_copies > 1 ? 'copies' : 'copy' %>
              <%= i.hold_count %> hold<% if i.hold_count.to_i > 1 %>s<% end %> on <%= total_copies %> <%= copy_noun %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
