<div class="container">
  <a class="navbar-brand" href="/">
    <%= image_tag(Settings.logo_icon, size: "30", class: "d-inline-block align-top", id: "brand-logo") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-stretch" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item<% if request.path == index_path %> active<% end %>">
        <a class="nav-link" href="<%= index_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item<% if request.path == search_path %> active<% end %>">
        <a class="nav-link" href="<%= search_path %>?new_search=true">Search</a>
      </li>
      <% if !Settings.added_nav_links.nil? %>
        <% Settings.added_nav_links.each do |link| %>
          <li class="nav-item">
            <a class="nav-link" href="<%= link['url'] %>"><%= link['name'] %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
    <% if !cookies[:login].present? %>
      <div class="btn-group navbar-nav ml-auto">
        <button type="button" class="btn btn-primary dropdown-toggle" id="account-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </button>
        <div class="dropdown-menu dropdown-menu-right w-auto" id="login-form">
          <form class="px-4 py-3">
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <label class="sr-only" for="username">Username or Card Number</label>
              <input type="username" class="form-control" id="username" placeholder="Username or Card #">
            </div>
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
              <label class="sr-only" for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <input type="hidden" id="hold-record" value="">
          </form>
          <div class="px-4">
            <button type="submit" class="btn btn-primary btn-block" id="login-button" onclick="do_login()">Sign in</button>
          </div>
          <div class="w-100 text-danger" id="login-message"></div>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Get a Library Card</a>
          <a class="dropdown-item text-danger" href="#">Forgot/lost password?</a>
        </div>
      </div>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <% if cookies[:user].present? %>
          <% userdetails = JSON.parse(cookies[:user]) %>
          <% if userdetails['checkouts'].to_i > 0 %>
            <li class="nav-item"><a href="/checkouts" class="nav-link">Checkouts <span class="badge badge-primary"><span id="user-checkouts"><%= userdetails['checkouts'] %></span></span></a></li>
          <% end %>
          <% if userdetails['holds'].to_i > 0 %>
            <li class="nav-item"><a href="/holds" class="nav-link">Holds <span class="badge badge-primary"><span id="user-holds"><%= userdetails['holds'] %></span></span></a></li>
          <% end %>
          <% if userdetails['holds_ready'].to_i > 0 %>
            <li class="nav-item"><a href="/holds" class="nav-link">Holds ready for pickup <span class="badge badge-primary"><span id="user-holds-ready"><%= userdetails['holds_ready'] %></span></span></a></li>
          <% end %>
        <% end %>
        <li class="nav-item pl-3"><a role="button" class="btn btn-primary" href="/preferences">My Account</a></li>
        <li class="nav-item pl-3"><button type="button" class="btn btn-default" id="logout-button" onclick="do_logout()">Log out</button></li>
      </ul>
    <% end %>
  </div>
</div>
