<div class="container">
  <a class="navbar-brand" href="/">
    <%= image_tag(Settings.logo_icon, size: "30", class: "d-inline-block align-top", id: "brand-logo") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-stretch" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item<%= (request.path == index_path) ? ' active' : '' %>">
        <a class="nav-link" href="<%= index_path %>">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item<%= (request.path == search_path) ? ' active' : '' %>">
        <a class="nav-link" href="<%= search_path %>?new_search=true">Search</a>
      </li>
      <% if !Settings.added_nav_links.nil? %>
        <% Settings.added_nav_links.each do |link| %>
          <li class="nav-item">
            <a class="nav-link" href="<%= link['url'] %>"><%= link['name'] %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
    <% if !cookies[:user].present? %>
      <div class="btn-group navbar-nav ml-auto">
        <button type="button" class="btn btn-primary mr-lg-3 mt-2" id="account-button" onclick="show_login_form()">
          Sign in
        </button>
        <% if Settings.online_registration == true && Settings.register_link_show == true %>
          <a href="<%= Settings.register_link %>" role="button" class="btn btn-primary mt-2" id="register-button">
            <%= Settings.register_link_text %>
          </a>
        <% end %>
      </div>
    <% else %>
      <ul class="navbar-nav ml-auto">
        <% userdetails = JSON.parse(cookies[:user]) %>
        <% if userdetails['checkouts'].to_i > 0 %>
          <li class="nav-item<%= (request.path == checkouts_path) ? ' active' : '' %>"><a href="<%= checkouts_path %>" class="nav-link">Checkouts <span class="badge badge-primary"><span id="user-checkouts"><%= userdetails['checkouts'] %></span></span></a></li>
        <% end %>
        <% if userdetails['holds'].to_i > 0 %>
          <li class="nav-item<%= (request.path == holds_path) ? ' active' : '' %>"><a href="<%= holds_path %>" class="nav-link">Holds <span class="badge badge-primary"><span id="user-holds"><%= userdetails['holds'] %></span></span></a></li>
        <% end %>
        <% if userdetails['holds_ready'].to_i > 0 %>
          <li class="nav-item<%= (request.path == holds_pickup_path) ? ' active' : '' %>"><a href="<%= holds_pickup_path %>" class="nav-link">Ready for Pickup <span class="badge badge-primary"><span id="user-holds-ready"><%= userdetails['holds_ready'] %></span></span></a></li>
        <% end %>
        <% if userdetails['fine'].to_f > 0 %>
          <li class="nav-item<%= (request.path == fines_path) ? ' active' : '' %>"><a href="<%= fines_path %>" class="nav-link">Fines <span class="badge badge-primary"><span id="user-fines"><%= userdetails['fine'] %></span></span></a></li>
        <% end %>
        <li class="btn-group nav-item ml-lg-2 mt-lg-1">
          <div class="btn-group">
            <a role="button" class="btn btn-primary" href="<%= preferences_path %>">My Account</a>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="<%= preferences_path %>">Account Preferences</a>
              <a class="dropdown-item" href="<%= checkouts_path %>">Checked Out Items</a>
              <a class="dropdown-item" href="<%= holds_path %>">All Items on Hold</a>
              <a class="dropdown-item" href="<%= holds_pickup_path %>">Holds Ready for Pickup</a>
              <a class="dropdown-item" href="<%= lists_path %>">My Lists</a>
              <a class="dropdown-item" href="<%= fines_path %>">Current Fines</a>
              <a class="dropdown-item" href="<%= payments_path %>">Past Payments</a>
              <a class="dropdown-item" href="<%= checkout_history_path %>">Checkout History</a>
            </div>
          </div>
          <button type="button" class="btn btn-light btn-block-md ml-lg-2" id="logout-button" onclick="do_logout()">Log out</button> 
        </li>
      </ul>
    <% end %>
  </div>
</div>
