<div class="row item mb-1 pb-1 border-bottom" data-record_id="<%= i.id %>">
  <div class="col-12 col-md-6">
    <a href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>)" class="item_details_link">
      <%= icon('fas', item_format_icon(i.type_of_resource)) %> <%= i.title %>
    </a>
  </div>
  <div class="col-12 col-md-3">
    <% if i.author.present? %>
      <% search_loc = i.search_location.present? ? i.search_location : Settings.location_default %>
      <% search_view = i.search_view.present? ? i.search_view : Settings.view_default %>
      <a href="/search?query=<%= i.author %>&type=author&location=<%= search_loc %>&view=<%= search_view %>">
        <%= i.author %>
      </a>
    <% end %>
  </div>
  <div class="col-6 d-md-none my-auto">
    <button type="button" class="btn btn-block btn-primary btn-sm d-md-none" onclick="item_details(<%= i.id %>)">Details</button>
  </div>
  <div class="col-6 col-md-3 my-auto">
    <% if i.electronic == false && i.holdable == true %>
      <div class="hold-button list-hold-button-<%= i.id %>">
        <button class="btn btn-primary btn-block btn-sm btn-hold-<%= i.id %>" type="button" onclick="place_hold(this, <%= i.id %>,'', 'list_of_results')">Place Hold</button>
      </div>
      <div id="list-change-pickup-<%= i.id %>">
      </div>
    <% elsif i.electronic == true %>
      <div class="view-resource-button">
        <a class="btn btn-primary btn-block btn-sm btn-resource" role="button" href="<%= i.eresource_link %>">View Online</a>
      </div>
    <% end %>
  </div>
</div>
