<tr class="item" data-record_id="<%= i.id %>">
  <td>
    <%= icon('fas', item_format_icon(i.type_of_resource)) %>
  </td>
  <td>
    <a href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>)" class="item_details_link">
      <%= i.title %>
    </a>
  </td>
  <td>
    <% if i.author.present? %>
      <% search_loc = i.search_location.present? ? i.search_location : Settings.location_default %>
      <% search_view = i.search_view.present? ? i.search_view : Settings.view_default %>
      <a href="/search?query=<%= i.author %>&type=author&location=<%= search_loc %>&view=<%= search_view %>">
        <%= i.author %>
      </a>
    <% end %>
  </td>
  <td>Hold/View</td>
</tr>
