<tr class="item" data-record_id="<%= i.id %>">
  <td>
    <%= icon('fas', item_format_icon(i.type_of_resource)) %>
  </td>
  <td>
    <a href="details?id=<%= i.id %>" onclick="item_details(<%= i.id %>)" class="item_details_link">
      <%= i.title %>
    </a>
  </td>
  <td>
    <% if i.author.present? %>
      <% search_loc = i.search_location.present? ? i.search_location : Settings.location_default %>
      <% search_view = i.search_view.present? ? i.search_view : Settings.view_default %>
      <a href="/search?query=<%= i.author %>&type=author&location=<%= search_loc %>&view=<%= search_view %>">
        <%= i.author %>
      </a>
    <% end %>
  </td>
  <td>
    <% if i.electronic == false && i.holdable == true %>
      <div class="hold-button list-hold-button-<%= i.id %> col">
        <button class="btn btn-primary btn-block btn-sm btn-hold-<%= i.id %>" role="button" onclick="place_hold(this, <%= i.id %>,'', 'list_of_results')">Place Hold</button>
      </div>
      <div id="list-change-pickup-<%= i.id %>">
      </div>
    <% elsif i.electronic == true %>
      <div class="view-resource-button col">
        <a class="btn btn-primary btn-block btn-sm btn-resource" role="button" href="<%= i.eresource_link %>">View</a>
      </div>
    <% end %>
  </td>
</tr>
