<% if cookies[:user].present? %>
  <% userdetails = JSON.parse(cookies[:user]) %>
  <div class="row">
    <div id="account-menu" class="col-12 col-md-3 mt-3">
      <%= render 'account_menu' %>
    </div>
    <div id="account-lists" class="col-12 col-md-9 mt-3">
      <% @lists.each do |list| %>
        <div class="card mb-3" id="list-<%= list['list_id'] %>">
          <%= link_to view_list_path(:list_id => list['list_id']) do %>
            <%= content_tag :h5, list['title'], :class => "card-header" %>
          <% end %>
          <div class="card-body">
            <% if list['description'] != "" %>
              <h4 class="card-title"><%= list['description'] %></h4>
            <% end %>
            <% visibility = (list['shared'] == true) ? 'Private' : 'Public' %>
            <button class="btn btn-primary" role="button" onclick="edit_list_details(<%= list['list_id'] %>)">Edit Details</button>
            <button class="btn btn-primary" role="button" onclick="delete_list(this)">Delete</button>
            <button class="btn btn-primary" role="button" data-listid="<%= list['list_id'] %>" onclick="toggle_list_visibility(this)">Make <%= visibility %></button>
            <% if list['default'] == true %>
              <p class="card-text">This is your default list</p>
            <% else %>
              <button class="btn btn-primary" role="button" data-listid="<%= list['list_id'] %>" onclick="make_default_list(this)">Make default</button>
            <% end %>

          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <h1>Not logged in</h1>
<% end %>
