<% if @list.error.present? %>
  <h1>List does not exist or is not public</h1>
<% else %>
  <% if @list.title.present? %>
    <h1><%= @list.title %></h1>
  <% end %>
  <% if @list.description.present? %>
    <p class="lead"><%= @list.description %></p>
  <% end %>
  <div class="row">
    <% content_classes = (@my_list == true) ? 'col-12 col-md-9' : 'col-12' %>
    <% if @my_list == true %>
      <div class="col-12 col-md-3">
        <div class="card mb-2">
          <div class="card-header bg-primary text-light">
            <span class="font-weight-bold">My Lists</span>
          </div>
          <div class="list-group list-group-flush">
            <% @mylists.each do |l| %>
              <a href="/view_list?list_id=<%= l['list_id'] %>" class="list-group-item list-group-item-action justify-content-between align-items-center d-flex<%= (l['list_id'] == @list.list_id) ? ' active' : '' %>"><%= l['title'] %></a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="<%= content_classes %>">
      <div id="items">
        <% if @list.no_items != true %>
          <% @items.each do |i| %>
            <%= render "list_item_2", i: i %>
          <% end %>
        <% else %>
          <h1>List has no items</h1>
        <% end %>
      </div>
      <div id="more-items">
        <% if @list.more_results.to_s == "true" %>
          <% next_page = @list.page.to_i + 1 %>
          <%= render "more_items", list: @list, page: next_page %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
