<!DOCTYPE html>
<html>
  <head>
    <%
      if action_name == "search"
        if defined?(@search_title)
          title_slug = "Browsing " + @search_title + " at " + location_map(@search.location, "long")
        elsif !params['query'].blank?
          title_slug = "Searching " + params['query'].to_s
        else
          title_slug = "Search"
        end
      end
      if action_name == "details"
        title_slug = "Item details: " + @item.title
      end
      if action_name == "register"
        title_slug = "Library Account Registration"
      end
      if controller_name == "user"
        title_slug = "My Account | " + action_name.capitalize.gsub('_', ' ')
      end
      if action_name == "lists"
        title_slug = "My Account | Lists"
      end
      if action_name == "view_list"
        title_slug = "Viewing List: " + @list.title + " " + @list.description
      end
      if !title_slug.blank?
        display_title = title_slug + " | " + Settings.catalog_name
      else
        display_title = Settings.catalog_name
      end
    %>
    <title><%= display_title %></title>
    <meta property="og:title" content="<%= display_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<%= Settings.catalog_name %>" />
    <meta property="og:url" content="<%= Settings.public_catalog %><%= request.fullpath %>" />
    <meta property="og:image" content="<% if action_name == "details" %><%= Settings.cover_url_prefix_lg %><%= @item.id.to_s %><% else %><%= asset_path(Settings.logo_icon) %><% end %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <%= render :partial => 'application/navbar' %>
    </nav>
    <div class="container">
      <div id="alert-box" class="w-100"></div>
      <%= yield %>
    </div>
    <a href="#" class="back-to-top">
      <i class="fas fa-arrow-up" title="back to top"></i>
    </a>
    <div id="hidden_login" style="display: none">
      <%= render "login_form", from: '', target_hold: '' %>
    </div>
    <div id="hidden_change_pickup" style="display: none">
      <%= render "change_pickup_location" %>
    </div>
  </body>
</html>
