<!DOCTYPE html>
<html>
  <head>
    <%
      if action_name == "search"
        if defined?(@search_title)
          title_slug = "Browsing " + @search_title + " at " + location_map(@search.location, "long")
        elsif !params['query'].blank?
          title_slug = "Searching " + params['query'].to_s
        else
          title_slug = "Search"
        end
      end
      if action_name == "details"
        title_slug = "Item details: " + @item.title
      end
      if action_name == "register"
        title_slug = "Library Account Registration"
      end
      if controller_name == "user"
        title_slug = "My Account | " + action_name.capitalize.gsub('_', ' ')
      end
      if action_name == "lists"
        title_slug = "My Account | Lists"
      end
      if action_name == "view_list"
        title_slug = "Viewing List: " + @list.title + " " + @list.description
      end
      if !title_slug.blank?
        display_title = title_slug + " | " + Settings.catalog_name
      else
        display_title = Settings.catalog_name
      end
    %>
    <title><%= display_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <%= render :partial => 'application/navbar' %>
    </nav>
    <div class="container">
      <div class="w-100 text-center">
        <div class="TODO temporary breakpoint test">
          <h5 class="d-block d-sm-none">Current breakpoint: XS</h5>
          <h5 class="d-none d-sm-block d-md-none">Current breakpoint: SM</h5>
          <h5 class="d-none d-md-block d-lg-none">Current breakpoint: MD</h5>
          <h5 class="d-none d-lg-block d-xl-none">Current breakpoint: LG</h5>
          <h5 class="d-none d-xl-block">Current breakpoint: XL</h5>
        </div><!-- TODO -->
      </div>
      <div id="alert-box" class="w-100"></div>
      <%= yield %>
    </div>
    <div id="hidden_login" style="display: none">
      <%= render "login_form", from: '', target_hold: '' %>
    </div>
    <div id="hidden_change_pickup" style="display: none">
      <%= render "change_pickup_location" %>
    </div>
  </body>
</html>
