<!DOCTYPE html>
<html>
  <head>
    <title>Ilscatcher4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <%= image_tag("tadl-icon.png", size: "30", class: "d-inline-block align-top") %>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item<% if request.path == index_path %> active<% end %>">
              <a class="nav-link" href="<%= index_path %>">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item<% if request.path == search_path %> active<% end %>">
              <a class="nav-link" href="<%= search_path %>">Search</a>
            </li>
            <% if !Settings.added_nav_links.nil? %>
              <% Settings.added_nav_links.each do |link| %>
                <li class="nav-item">
                  <a class="nav-link" href="<%= link['url'] %>"><%= link['name'] %></a>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>


      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
