<!DOCTYPE html>
<html>
  <head>
    <title>Ilscatcher4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <%= render :partial => 'application/navbar' %>
    </nav>
    <div class="container">
      <div id="alert-box" class="w-100"></div>
      <%= yield %>
    </div>
    <div id="hidden_login" style="display: none">
      <%= render "login_form" %>
    </div>
    <script>
      function show_login_form(){
        var form = $('#hidden_login').html()
        $('#hidden_login').html('')
        $.fancybox.open({
          src  : '<div id="login_container" style="max-width: 400px; width: 100%;">'+ form +'</div>',
          type : 'inline',
          opts : {
            beforeClose : function( instance, current ) {
              var form = $('#login_container').html()
              $('#hidden_login').html(form)
            }
          }
        });
      }
    </script>
  </body>
</html>
