<!DOCTYPE html>
<html>
  <head>
    <title>Ilscatcher4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <%= render :partial => 'application/navbar' %>
    </nav>
    <div class="container">
      <div class="w-100 text-center">
        <div class="TODO temporary breakpoint test">
          <h5 class="d-block d-sm-none">Current breakpoint: XS</h5>
          <h5 class="d-none d-sm-block d-md-none">Current breakpoint: SM</h5>
          <h5 class="d-none d-md-block d-lg-none">Current breakpoint: MD</h5>
          <h5 class="d-none d-lg-block d-xl-none">Current breakpoint: LG</h5>
          <h5 class="d-none d-xl-block">Current breakpoint: XL</h5>
        </div><!-- TODO -->
      </div>
      <div id="alert-box" class="w-100"></div>
      <%= yield %>
    </div>
    <div id="hidden_login" style="display: none">
      <%= render "login_form", from: '', target_hold: '' %>
    </div>
    <div id="hidden_change_pickup" style="display: none">
      <%= render "change_pickup_location" %>
    </div>
  </body>
</html>
